@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.App {
  background: linear-gradient(to top, #0a0a0a, #1c1c1c);
  min-height: 100vh;
  overflow:auto; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-icon {
  font-size: 30px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
